.App {
  text-align: center;
  margin-top: 2rem;
}
li{
  list-style: none;
  display: inline-block;
  font-weight: 700;
}

.input-txt{
  padding: .2rem 1rem;
  width: 10rem;
}

.edit-btn,.delete-btn,.btn{
  padding: .2rem 1rem;
  margin: .5rem;
}

